<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog {% block meta_title %}{% endblock meta_title %}</title>
    <meta name="description" value="The Adventure Blog" />

    <!-- Include Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">

{% block login_bar %}{% endblock login_bar %}

</head>
<body>

    <!-- Start Container -->
    <div class="container">

        <!-- Start Header -->
        <div class="row" id="header">

            <!-- Logo -->
            <div class="col-xs-8">
                <h1><a href="/blog/">The Adventure Blog</a></h1>
            </div>
        </div>
        <!-- End Header -->
        <div>{% block main_content %}{% endblock main_content %}</div>
    </div>
    <!-- End Container -->

    <!-- Start Footer -->
        <div class="row" id="footer">
            <div class="col-xs-12">
                &copy; 2016 The Adventure Blog
            </div>
        </div>
    <!-- End Footer -->

    <!-- Javascripts Section -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
