{% extends "base.html" %}

{% block main_content %}

<!-- Start Registration Bar -->
{% if user.user_name %}
    <div class="col-xs-6" id="user-toolbar">
        {% if user.image %}
            <a href="/blog/user_page/"><img height="30" class="img-circle"
                                            src="/{{ user.image }}"></a>
        {% else %}
            <img height="30" class="img-circle" src="/static/no_image.png">
        {% endif %}
        <a href="/blog/user_page/">{{ user.user_name }}</a> |
        <a href="/blog/log_out">Log out</a>
    </div>
{% else %}
    <div class="col-xs-6" id="user-toolbar">
       <a href="/blog/log_in/">Log in</a> |
       <a href="/blog/sign_up/">Sign up</a>
    </div>
{% endif %}
<!-- End Registration Bar -->

<!-- Start Main Page Content -->

<div class="col-xs-12">

    <!-- Tags block -->
    <br>
    <mark>tags
        {% for tag in tags %}
            <a href="{% url "tag_posts" tag.id %}"> {{ tag.tag }} </a>
        {% endfor %}
    </mark>

    <h2>Posts</h2><br>

    <div class="post-box">
        {% for post in posts %}
            <div id="pic">
            {% for user in users %}
                {% if post.author_id == user.id %}
                    {% if user.image %}
                        <img height="30" src="/{{ user.image }}"> {{ post.author }}
                    {% else %}
                        <img height="30" src="/static/no_image.png"> {{ post.author }}
                    {% endif %}
                {%  endif %}
            {% endfor %}
            </div>

            {% if post.picture %}
                <img width="500" src="/{{ post.picture }}"><br>
            {% endif %}

            <div id="text">

                <h3>
                <a href="{% url "post_page" post.id %}"><h4>{{ post.title }}</h4></a>
            </h3>

            {{ post.text }}<br>

            <i>
            {% if post.pub_date != post.redact_date %}
                last redact {{ post.redact_date }}<br>
            {% endif %}

            published {{ post.pub_date }}
            </i>
            </div>
             <p id="button" onclick="showText(this)">more</p>

            <br><br><br>

        {% endfor %}
    </div>
</div>
<div>
    <!-- Navigation -->
    <div id="navigator">
        <nav>
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="/blog/test/">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </nav>
    </div>
</div>

<!-- End Main Page Content -->
{% endblock main_content %}

{% block tags_line %}

{% endblock tags_line %}
